@use "../abstracts/variables" as *;
@mixin text-color($bg-color) {
  @if lightness($bg-color) >50 {
    color: $darkcolor;
  }
  else {
    color: $lightcolor;
  }
}
//* Generating the different margin utilities:
@for $i from 1 through 5 {
  .mt-#{$i} {
    margin-top: $spacingunit * $i;
  }
}
@for $i from 1 through 5 {
  .mb-#{$i} {
    margin-bottom: $spacingunit * $i;
  }
}
@for $i from 1 through 5 {
  .mr-#{$i} {
    margin-right: $spacingunit * $i;
  }
}
@for $i from 1 through 5 {
  .ml-#{$i} {
    margin-left: $spacingunit * $i;
  }
}
@for $i from 1 through 5 {
  .m-#{$i} {
    margin: $spacingunit * $i;
  }
}

//* Creating different grid system utilities:
