@use "../abstracts/variables" as *;
@use "../abstracts/extends" as *;
.row {
  display: flex;
  flex-direction: row;
}
//* Column generation with extending from the %col-base:
@for $i from 1 through $totalcolumns {
  .col-#{$i} {
    @extend %col-base;
    width: (100% / $totalcolumns) * $i;
  }
}
$colors: (
  primary: $primarycolor,
  secondary: $secondarycolor,
  danger: $dangercolor,
  light: $lightcolor,
);

@each $color-name, $color-value in $colors {
  .bg-#{$color-name} {
    background-color: $color-value;
  }
}

@each $color-name, $color-value in $colors {
  .text-#{$color-name} {
    color: $color-value;
  }
}
