//! use mixins here
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/extends" as *;

.btn-primary {
  @extend %btn-base;
  background-color: $primarycolor;
}
.btn-secondary {
  @extend %btn-base;
  background-color: $secondarycolor;
}
.btn-danger {
  @extend %btn-base;
  background-color: $dangercolor;
}
